Hint {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: flex-start;
	margin-top: 5%;

	.background {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20%;
		max-width: 700px;
		background-color: black;
		opacity: 0.8;
		border-radius: 32px;
	}

	.contentContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;

		&.headContainer {
			display: flex;
			height: 100%;
			width: 35%;
			max-width: 200px;
			flex: 1 0 auto;
		}

		&.textContainer {
			display: flex;
			flex: 1 1 auto;
		}
	}

	.head {
		height: 100%;
		width: 100%;
		background: url(texture/head.png);
		background-repeat: no-repeat;
		background-size: contain;
		transform: rotate(-15deg);
		opacity: 0.8;
	}

	.text {
		font-size: 27px;
		font-family: Patsy Sans;
		font-weight: bold;
		text-align: center;
		color: greenyellow;
		text-shadow: 1px 1px 1px black;
		text-overflow: ellipsis;
	}
}
