@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>

    @if (Called)
    {
        <div class="background">

            <div class="contentContainer headContainer">
                <div class="head"></div>
            </div>

            <div class="contentContainer textContainer">
                <div class="text">@HintText</div>
            </div>

        </div>
    }


</root>

@code
{
    [Property] string HintText { get; set; }
    [Property] public SoundEvent Speech { get; set; }
    [Property] public float HintTime { get; set; } = 10f;

    public bool Called
    {
        get
        {
            return _called;
        }

        set
        {
            _called = value;

            if (value)
            {
                StateHasChanged();
                _hintTimer = HintTime;
            }
        }
    }

    private bool _called;
    private RealTimeUntil _hintTimer;

    protected override void OnUpdate()
    {
        CheckTimer();
    }

    private void CheckTimer()
    {
        if (!Called) return;

        if (_hintTimer)
        {
            Called = false;
            StateHasChanged();
        }
    }

    public void SetHintText(string hint)
    {
        HintText = hint;
    }

    public void Call(string text = default, float time = default)
    {
        if (text == default) text = HintText;
        if (time == default) time = HintTime;

        HintText = text;
        HintTime = time;
        Called = true;

        Sound.Play(Speech);
    }

    [Button("Call")]
    private void TestCall()
    {
        Call("💖 Привет", 4f);
    }
}