@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="bottom">💖 @_player.Health</div>
	<div class="bottom">🧬 @_player.Dna</div>

	<div class="bottom dev">This is just demo, full version with 3 levels will be 28 june</div>
</root>

@code
{
	[Property] private Player _player;

	protected override int BuildHash() => System.HashCode.Combine(_player.Dna, _player.Health);

	protected override void OnStart()
	{
		if (_player is null)
			_player = GetComponent<Player>();
	}
}