@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits PanelComponent
@namespace Sandbox

<root>

	.<div class="Logo"></div>
		<div class="buttonContainer">
			<div class="button" onclick="@Start">
				<div class="text">Start</div>
			</div>

			@* <div class="button" onclick="@LoadSession">
				<div class="text">Load session</div>
			</div> *@

			<div class="button" onclick="@ShowSettings">
				<div class="text">Settings</div>
			</div>

			<div class="button" onclick="@Exit">
				<div class="text">Exit</div>
			</div>
		</div>
</root>

@code
{
	private CameraComponent _camera;

	private Angles initialRotation;
	private Random random;

	[Property] private SceneFile _startScene;

	protected override void OnStart()
	{
		random = new();
		_camera = Scene.Camera;
		initialRotation = _camera.WorldRotation;
	}

	protected override void OnFixedUpdate()
	{
		RotateCamera();
	}

	private void RotateCamera()
	{
		float offset = 1 * (float)Math.Sin(1f * Time.Now); // Смещение

		float desiredPitch = initialRotation.pitch + offset; // Желаемый pitch
		float desiredYaw = initialRotation.yaw + offset; // Желаемый yaw

		_camera.WorldRotation = new Angles(desiredPitch, desiredYaw, initialRotation.roll).ToRotation(); // Устанавливаем вращение
	}

	private void Start()
	{
		Scene.Load(_startScene);
	}

	private void ShowSettings()
	{
		Game.Overlay.ShowSettingsModal();
	}

	private void LoadSession()
	{
		//todo
		Log.Info("LoadSession");
	}

	private void Exit()
	{
		Game.Close();
	}
}