@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="background">
		<div class="text">❓ 0/0</div>
	</div>
</root>

@code
{

	[Property] private Player _player;

	protected override void OnStart()
	{
		if (_player is null)
			_player = GetComponent<Player>();
	}

	//protected override int BuildHash() => System.HashCode.Combine(  );
}