SecretsHud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: flex-end;
    align-items: flex-start;

    .background {
        border-radius: 20px;
        background-color: rgba(0,0,0,.9);
        color: #fff;
        margin: 15px;
    }

    .text {
        font-size: 35px;
        font-family: Patsy Sans, Popins;
        text-align: center;
        color: greenyellow;
        text-shadow: 1px 1px 1px black;
        text-overflow: ellipsis;
        margin: 7px;
    }
}
