@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>

	@if (!_changed) return;

	<div class="background">
		<div class="text">❓ @Player.Instance.CollectSecrets/@LevelManager.Instance.CurrentLevel.MaxSecrets</div>
	</div>

</root>

@code
{

	[Property] private Player _player;
	[Property] private float Time = 4f;

	private bool _changed = false;
	private TimeUntil _timer;

	protected override void OnStart()
	{
		if (_player is null)
			_player = GetComponent<Player>();
	}

	public void Show()
	{
		_changed = true;
		_timer = Time;
    }

	protected override void OnUpdate()
	{
		if (!_changed) return;

		if (_timer)
		{
			_changed = false;
		}
	}

	protected override int BuildHash() => System.HashCode.Combine(_changed);
}