UsableUI {
	position: absolute;
	top: 0;
	left: 52%;
	right: 0;
	bottom: 15%;
	align-items: center;

	.background {
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: 22%;
		max-width: 400px;
		background-color: black;
		opacity: 0.8;
		border-radius: 40px;
	}

	.contentContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4%;

		&.headContainer {
			display: flex;
			flex: 1 1 auto;
		}
	}

	.text {
		font-size: 27px;
		font-family: Poppins;
		font-weight: bold;
		text-align: center;
		color: greenyellow;
		text-shadow: 1px 1px 1px black;
		text-overflow: ellipsis;
	}
}
