@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	@if (Player.Instance == null) return;

	@for (int i = 0; i < Player.Instance.ReplicantController.Replicants.Count; i++)
	{
		<div class="title">@i - @Player.Instance.ReplicantController.Replicants[i].Health 💚</div>
	}
</root>

@code
{
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}