@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	@if (!IsVisible) return;

	<div class="title">💖  @Replicant.Health.ToString("F2")</div>
</root>

@code
{
	[Property] public Replicant Replicant { get; set; }
	[Property] public bool IsVisible { get; set; } = true;

	protected override int BuildHash() => System.HashCode.Combine(Replicant.Health, IsVisible);
}